@using System.Security.Claims
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor _httpContextAccessor
@inject HttpClient Http

@if (User.Identity.Name != null)
{
    
    <div style="margin-top: 5px;">
        <img style="border-radius: 50%; width: 50px; height: 50px; border: 2px solid black; "src="@Avatar" />
        <a style="color: #fff; margin-right: 5px">@GivenName @Surname    </a>
        <a class="ml-md-auto btn btn-primary"
           style="background-color: darkred"
           href="/Logout"
           target="_top">Logout</a>
    </div>
}
else
{
    <div style="margin-top: 5px;">
        <a class="ml-md-auto btn btn-primary"
            href="/Login"
            target="_top">Login</a>
    </div>
    
}


@functions {
    private ClaimsPrincipal User;
    private string GivenName;
    private string Surname;
    private string Avatar;

    protected override void OnInitialized()
    {
        base.OnInitialized();

        try
        {
            // Set the user to determine if they are logged in
            User = _httpContextAccessor.HttpContext.User;

            // Try to get the GivenName
            var givenName =
                _httpContextAccessor.HttpContext.User
                .FindFirst(ClaimTypes.GivenName);

            if (givenName != null)
            {
                GivenName = givenName.Value;
            }
            else
            {
                GivenName = User.Identity.Name;
            }

            // Try to get the Surname
            var surname =
                _httpContextAccessor.HttpContext.User
                .FindFirst(ClaimTypes.Surname);

            if (surname != null)
            {
                Surname = surname.Value;
            }
            else
            {
                Surname = "";
            }

            // Try to get Avatar
            var avatar =
            _httpContextAccessor.HttpContext.User
            .FindFirst("urn:google:image");

            if (avatar != null)
            {
                Avatar = avatar.Value;
            }
            else
            {
                Avatar = "";
            }
        }
        catch { }
    }
}