@inherits LayoutComponentBase

<PageTitle>Klavis</PageTitle>

<RadzenDialog/>

<div class="page">
    
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row">
            <div class="g-signin2" data-onsuccess="onSignIn"></div>
            <RadzenButton Click=@reload Icon="refresh" ButtonStyle="ButtonStyle.Light" Style="margin-top: 15px;"/>

        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code{
    private void reload()
    {
        StateHasChanged();
    }

    
}