@page "/"
@page "/check-in"
@layout MainLayout
@inherits Klavis.Pages.CheckInComponent

@using Radzen
@using Radzen.Blazor
<RadzenContent Container="main">
  <ChildContent>
    <RadzenHeading Size="H1" Text="CheckIn">
    </RadzenHeading>
    <div class="row">
    </div>
    <RadzenCard >
    </RadzenCard>
  </ChildContent>
</RadzenContent>
