body[b-bnqewglz96] {
}

.flex-row[b-bnqewglz96] {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.flex-col[b-bnqewglz96] {
    float: left;
    width: 500px;
    padding-right: 15px;
    padding-left: 15px;
}


.flex-history[b-bnqewglz96] {
    float: left;
    width: 975px;
    padding-right: 5px;
    padding-left: 0px;
}

.flex-image[b-bnqewglz96] {
    width: 200px;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
}

.flex-dropdown[b-bnqewglz96] {
    float: right;
    padding-right: 15px;
    margin-left: auto;
}

.flex-controls[b-bnqewglz96] {
    float: right;
    height: 100px;
    padding-right: 15px;
    padding-left: 15px;
    margin-left: auto;
    margin-right: 25px;
}

.table[b-bnqewglz96] {
    overflow: hidden;
    overflow-y: scroll;
}
