@page "/adduser"

@using Google.Cloud.Firestore;
@using System;
@inject NavigationManager NavigationManager

<PageTitle>Add User</PageTitle>

<h1>Add User</h1>

Fill in all required (*) information to add a new user.
<div class = "d-flex flex-row">
    <RadzenCard>

        <h3 class="mb-4">Personal Information</h3>    
        <div class = "row">
            <div class = "col">
                <RadzenTextBox @bind-Value=@firstName  Class="w-100" />
                <h5 class="mb-4">First Name*</h5>
            </div>
            <div class = "col">
                <RadzenTextBox @bind-Value=@lastName  Class="w-100" />
                <h5 class="mb-4">Last Name*</h5>
            </div>
        </div>
        <div class = "row">
            <div class = "col">
                <RadzenTextBox @bind-Value=@userID Placeholder="########" Class="w-100" />
                <h5 class="mb-4">ID*</h5>
            </div>
            <div class = "col">
                <RadzenTextBox @bind-Value=@email  Class="w-100" />
                <h5 class="mb-4">Email Address*</h5>
            </div>
        </div>
        <div class = "row">
            <div class = "col">
                <RadzenTextBox @bind-Value=@pictureLink  Class="w-100" />
                <h5 class="mb-4">Picture Link</h5>
            </div>
        </div>
        <br />
        <h3 class="mb-4">Permissions</h3> 
        <div class = "row">
            <div class = "col">
                <RadzenRadioButtonList @bind-Value=@accountStatus TValue="bool">
                    <Items>
                        <RadzenRadioButtonListItem Text="True" Value=true />
                        <RadzenRadioButtonListItem Text="False" Value=false />
                    </Items>
                </RadzenRadioButtonList>
                <h5 class="mb-4">Account Activation*</h5>
            </div>
            <div class = "col">
                <RadzenRadioButtonList @bind-Value=@cardCreated TValue="bool">
                    <Items>
                        <RadzenRadioButtonListItem Text="True" Value=true />
                        <RadzenRadioButtonListItem Text="False" Value=false />
                    </Items>
                </RadzenRadioButtonList>
                <h5 class="mb-4">Card Created*</h5>
            </div>
        </div>
        <br />
        <div class = "row">
            <div class = "col">
                <button class="btn btn-primary" @onclick=@addUser>Submit</button>
            </div>
            <div class = "col">
                <button class="btn btn-primary" @onclick=@cancel>Cancel</button>
            </div>
        </div>
    </RadzenCard>

    <RadzenCard>
        <h3 class="mb-4">NFC Card Creation</h3>
        <div class="row">
            <RadzenLink Path="https://www.originpass.com/BU/" Text="Create NFC card for user here" target="_blank" />
        </div>
    </RadzenCard>
        
        
</div>
    



@code{
    FirestoreDb fireStoreDb;
    private string firstName;
    private string lastName;
    private string userID;
    private string email;
    private string pictureLink;
    private bool cardCreated;
    private bool accountStatus;


    protected override async Task OnInitializedAsync()
    {
        Console.WriteLine("Connecting");
        string filepath = "wwwroot/klavis-4b8d1-eb6f81dfbefe.json";
        Environment.SetEnvironmentVariable("GOOGLE_APPLICATION_CREDENTIALS", filepath);
        fireStoreDb = FirestoreDb.Create("klavis-4b8d1");

        StateHasChanged();
    }

    async void addUser()
    {
        Dictionary<string, object> log = new Dictionary<string, object>
            {
                { "firstname", firstName },
                { "lastname", lastName },
                { "email", email },
                { "accountStatus", true },
                { "cardCreated", cardCreated },
                { "pictureLink", pictureLink },
                { "created", DateTime.UtcNow }
            };
            await fireStoreDb.Collection("users").Document(userID).SetAsync(log);
            NavigationManager.NavigateTo("/usermanagement");
    }

    void cancel(){
        NavigationManager.NavigateTo("/usermanagement");
    }
}