@page "/adduser"

@using Google.Cloud.Firestore;
@using System;
@inject NavigationManager NavigationManager

<PageTitle>Add User</PageTitle>



Fill in all required (*) information to add a new user.
<div class = "d-flex flex-row">
    <RadzenCard Style="background-image: linear-gradient(0deg, #d1b4d4 20%, #eeeeee 25%);  margin: 10px;">

        <h3 class="mb-4">Personal Information</h3>    
        <div class = "row">
            <div class = "col">
                <RadzenTextBox @bind-Value=@firstName  Class="w-100" />
                <h5 class="mb-4">First Name*</h5>
            </div>
            <div class = "col">
                <RadzenTextBox @bind-Value=@lastName  Class="w-100" />
                <h5 class="mb-4">Last Name*</h5>
            </div>
        </div>
        <div class = "row">
            <div class = "col">
                <RadzenTextBox @bind-Value=@userId Placeholder="########" Class="w-100" />
                <h5 class="mb-4">ID*</h5>
            </div>
            <div class = "col">
                <RadzenTextBox @bind-Value=@email  Class="w-100" />
                <h5 class="mb-4">Email Address*</h5>
            </div>
        </div>
        <div class = "row">
            <div class = "col">
                <RadzenTextBox @bind-Value=@pictureLink  Class="w-100" />
                <h5 class="mb-4">Picture Link</h5>
            </div>
        </div>
        <br />
        <div class = "row">
            <div class = "col">
                <button class="btn btn-primary" @onclick=@add>Submit</button>
            </div>
            <div class = "col">
                <button class="btn btn-primary" @onclick=@cancel>Cancel</button>
            </div>
        </div>
        
    </RadzenCard>
        
</div>
    



@code{
    private FirestoreDb fireStoreDb = default!;
    private string firstName = default!;
    private string lastName = default!;
    private string userId = default!;
    private string email = default!;
    private string pictureLink = default!;
    private string cardInput = default!;
    private string cardSerial = default!;


    protected override async Task OnInitializedAsync()
    {
        await Task.Run(() =>
        {
            Console.WriteLine("Connecting");
            string filepath = "wwwroot/klavis-4b8d1-eb6f81dfbefe.json";
            Environment.SetEnvironmentVariable("GOOGLE_APPLICATION_CREDENTIALS", filepath);
            fireStoreDb = FirestoreDb.Create("klavis-4b8d1");
        });
        StateHasChanged();
        
    }

    async void add()
    {
        Dictionary<string, object?> log = new Dictionary<string, object?>
            {
                { "cardSerial", "" },
                { "created", DateTime.UtcNow },
                { "email", email },
                { "firstname", firstName },
                { "lastname", lastName },
                { "pictureLink", pictureLink },

            };
        await fireStoreDb.Collection("users").Document(userId).SetAsync(log);
        NavigationManager.NavigateTo("/usermanagement");
    }

    void cancel(){
        NavigationManager.NavigateTo("/usermanagement");
    }

    void parseInput()
    {
        string[] inputArgs = cardInput.Split('|');
        cardSerial = inputArgs[1];
        userId = inputArgs[2];
        StateHasChanged();
    }
}