@page "/edituser/{targetID}"

@using Google.Cloud.Firestore;
@using System;
@inject NavigationManager NavigationManager

<PageTitle>Edit User</PageTitle>

<h1>Edit User</h1>

Adjust information to edit an existing user.
<div class = "d-flex flex-row">
    <RadzenCard>

        <h3 class="mb-4">Personal Information</h3>    
        <div class = "row">
            <div class = "col">
                <RadzenTextBox @bind-Value=@firstName Placeholder=firstName Class="w-100" />
                <h5 class="mb-4">First Name</h5>
            </div>
            <div class = "col">
                <RadzenTextBox @bind-Value=@lastName Placeholder=lastName Class="w-100" />
                <h5 class="mb-4">Last Name</h5>
            </div>
        </div>
        <div class = "row">
            <div class = "col">
                <RadzenTextBox @bind-Value=@userID Placeholder=@userID Disabled=true Class="w-100" />
                <h5 class="mb-4">ID</h5>
            </div>
            <div class = "col">
                <RadzenTextBox @bind-Value=@email Placeholder=@email Class="w-100" />
                <h5 class="mb-4">Email Address</h5>
            </div>
        </div>
        <div class = "row">
            <div class = "col">
                <RadzenTextBox @bind-Value=@pictureLink Placeholder=@pictureLink Class="w-100" />
                <h5 class="mb-4">Picture Link</h5>
            </div>
        </div>
        <br />
        <h3 class="mb-4">Permissions</h3> 
        <div class = "row">
            <div class = "col">
                <RadzenRadioButtonList @bind-Value=@accountStatus TValue="bool">
                    <Items>
                        <RadzenRadioButtonListItem Text="True" Value=true />
                        <RadzenRadioButtonListItem Text="False" Value=false />
                    </Items>
                </RadzenRadioButtonList>
                <h5 class="mb-4">Account Activation</h5>
            </div>
            <div class = "col">
                <RadzenRadioButtonList @bind-Value=@cardCreated TValue="bool">
                    <Items>
                        <RadzenRadioButtonListItem Text="True" Value=true />
                        <RadzenRadioButtonListItem Text="False" Value=false />
                    </Items>
                </RadzenRadioButtonList>
                <h5 class="mb-4">Card Created</h5>
            </div>
        </div>
        <br />
        <div class = "row">
            <div class = "col">
                <button class="btn btn-primary" @onclick=@editUser>Submit</button>
            </div>
            <div class = "col">
                <button class="btn btn-primary" @onclick=@cancel>Cancel</button>
            </div>
        </div>
    </RadzenCard>
        
        
</div>
    



@code{
    FirestoreDb fireStoreDb;
    private string firstName;
    private string lastName;
    private string userID;
    private string email;
    private string pictureLink;
    private bool cardCreated;
    private bool accountStatus;
    [Parameter]
    public string targetID{ get; set; }

    protected override void OnParametersSet()
    {
        //the param will be set now
        userID = targetID;
    }

    protected override async Task OnInitializedAsync()
    {
        Console.WriteLine("Connecting");
        string filepath = "wwwroot/klavis-4b8d1-eb6f81dfbefe.json";
        Environment.SetEnvironmentVariable("GOOGLE_APPLICATION_CREDENTIALS", filepath);
        fireStoreDb = FirestoreDb.Create("klavis-4b8d1");

        DocumentReference userRef = fireStoreDb.Collection("users").Document(targetID);
        DocumentSnapshot snapshot = await userRef.GetSnapshotAsync();
        if (snapshot.Exists)
        {
            Dictionary<string, object> userDictionary = snapshot.ToDictionary();
            firstName = (string) userDictionary["firstname"];
            lastName = (string) userDictionary["lastname"];
            pictureLink = (string) userDictionary["pictureLink"];
            email = (string) userDictionary["email"];
            cardCreated = (bool) userDictionary["cardCreated"];
            accountStatus = (bool) userDictionary["accountStatus"];
        }

        StateHasChanged();
    }

    async void editUser()
    {

        Dictionary<string, object> log = new Dictionary<string, object>
            {
                { "firstname", firstName },
                { "lastname", lastName },
                { "email", email },
                { "accountStatus", accountStatus },
                { "pictureLink", pictureLink },
                { "cardCreated", cardCreated }
            };
            await fireStoreDb.Collection("users").Document(userID).UpdateAsync(log);
            NavigationManager.NavigateTo("/usermanagement");
    }

    void cancel(){
        NavigationManager.NavigateTo("/usermanagement");
    }
}